



<br />

<div class="backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Lista de Trilhas</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Trails" asp-action="Upsert" class="btn btn-primary text-white"><i class="fas fa-plus"></i> &nbsp; Nova Trilha</a>
        </div>
    </div>

    <br />
    <br />

    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Parque Nacional</th>
                <th>Nome da Trilha</th>
                <th>Distância</th>
                <th>Elevação</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/nationalPark.js"></script>
}
