



@model ParkyWeb.Models.User


<h1>Registrar</h1>

<form method="post">
    <input asp-for="Username" type="text" placeholder="Nome de usuário" />
    <input asp-for="Password" type="text" placeholder="Sua senha" />
    <button type="submit" value="Enviar">Registrar</button>
</form>


